a {
    color: none;
}
body {
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(1, 30, 52, 1) 31%,
        rgba(1, 123, 148, 1) 100%
    );
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #ffb703;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(1, 30, 52, 1) 31%,
        rgba(1, 123, 148, 1) 100%
    );
    z-index: 500;
}
.separador {
    height: 100px;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(1, 30, 52, 1) 31%,
        rgba(1, 123, 148, 1) 100%
    );
}
.titulo-pagina {
    font-family: "Tilt Prism", cursive;
    color: #ffb703;
    font-size: 3rem;
}
.titulo-pagina:hover {
    color: #fb8500;
}
.lista {
    list-style: none;
    display: inline-flex;
}
.subtitulo-pagina {
    color: #ffb703;
    font-size: 1.4rem;
}
.subtitulo-pagina:hover {
    color: #fb8500;
}

.ultimas {
    background-color: #ffc73b;
    color: rgba(2, 0, 36, 1);
    font-weight: bolder;
}
.card-pelicula {
    background-color: rgb(1, 30, 52);
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: #ffb703;
    color: #ffb703;
    height: 500px;
    position: relative;
}
.portadacss {
    position: absolute;
    max-height: 80%;
    object-fit: contain;
}
.boton-visible {
    z-index: 400;
}
.boton-oculto {
    z-index: -1;
}
.boton-pelicula {
    background-color: rgba(1, 30, 52, 1);
    color: #ffb703;
    border-color: #ffb703;
    font-weight: 600;
}
.boton-pelicula:hover {
    background-color: #ffb703;
    color: rgba(1, 30, 52, 1);
    border-color: rgba(1, 30, 52, 1);
    font-weight: 800;
}
.seccionFiltro {
    padding-top: 2rem;
    padding-left: 5rem;
}
.catalogo-filtros {
    font-size: 1rem;
}
.inputPrecio {
    max-width: 100px;
}
.inputGenero {
    max-width: 170px;
}
.inputs {
    background-color: rgba(1, 30, 52, 1);
    color: #ffb703;
    border-color: #ffb703;
    font-weight: 600;
}
.input4K {
    color: #fb8500;
}
.card-carrito {
    background-color: #ffb703;
    color: rgba(1, 30, 52, 1);
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: rgba(1, 30, 52, 1);
    font-size: small;
}
.boton-carrito {
    background-color: #d99c02;
}
.boton-carrito:hover {
    background-color: #d99c02;
    font-weight: 800;
}
.boton-comprar {
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: white;
    background-color: rgba(1, 30, 52, 1);
    color: white;
    font-weight: 600;
}
.boton-comprar:hover {
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: #ffb703;
    background-color: rgba(1, 30, 52, 1);
    color: #ffb703;
    font-weight: 600;
}
/* 
    MODAL
*/
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes animarsuperior {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
.modal {
    display: none; /* Por defecto, estará oculto */
    position: fixed; /* Posición fija */
    z-index: 1; /* Se situará por encima de otros elementos de la página*/
    padding-top: 150px; /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.5);
}
.contenido-modal {
    position: relative; /* Relativo con respecto al contenedor -modal- */
    background-color: rgb(1, 30, 52);
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: #ffb703;
    color: #ffb703;
    height: 560px;
    max-width: 380px;
    margin: auto; /* Centrada */
    padding: 20px;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s;
}
.cerrar {
    color: #ffb703;
    float: right;
    font-size: 30px;
    font-weight: bold;
    z-index: 1000;
}
.cerrar:hover,
.cerrar:focus {
    color: #ffb703;
    text-decoration: none;
    cursor: pointer;
}
.input-buscador {
    border-color: rgba(2, 0, 36, 1);
}
